body{
  background: #357dcf;
  font-size: 14px;
}
/* 自定义字体 start */
@font-face {
	font-family: 'miaocode';
	src: url(/fonts/miaocode.eot);
	src: url(/fonts/miaocode.eot#iefix) format("embedded-opentype"), url(../fonts/miaocode.ttf) format("truetype"), url(/fonts/miaocode.woff) format("woff"), url(/image/miaocode.svg#miaocode) format("svg");
	font-weight: normal;
	font-style: normal
}

[class^="icon-"],
[class*=" icon-"] {
	font-family: 'miaocode' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
.icon-arrow-left:before {
	content: "\E90A"
}

.icon-arrow-right:before {
	content: "\E90B"
}
/* 自定义字体 end */
.section{
  margin: 0 auto;
  width: 1200px;
}
/* 关于我们 start */
.banner{
  font-size: 18px;
  color: #fff;
}
.banner .banner-tit{
  font-size: 52px;
}
.banner .banner-slogan{
  margin-top: 20px;
}
.banner .banner-desc{
  padding-left: 145px;
  margin-top: 20px;
  height: 128px;
  line-height: 1.8;
  background: url(../img/banner_desc_pic.png) no-repeat left center/125px;
}
/* 关于我们 end */
/* 企业优势 start */
.advantage-section{
  /* padding: 40px 40px; */
  overflow: hidden;
  margin-top: 100px;
  
}
.advantage-section .advantage-section-main{
  float: left;
  padding: 40px;
  margin-right: 29px;
  background-color: #fff;
}
.advantage-section .advantage-section-main .Asm-desc{
  margin-top: 70px;
  font-size: 14px;
  color: #c9c9c9;
}
.advantage-section .advantage-section-sub{
  color: #fff;
}
.advantage-section .advantage-section-sub .Ass-tit{
  font-size: 40px;
}
.advantage-section .advantage-section-sub .Ass-desc{
  margin-top: 22px;
  font-size: 18px;
  line-height: 1.8;
}
/* 企业优势 end */
/* 课程体系 start */
.curriculum-section{
  margin-top: 100px;
  height: 462px;
  overflow: hidden;
}
.curriculum-section .curriculum-section-tit{
  font-size: 40px;
  color: #fff;
}
.curriculum-section .curriculum-section-desc{
  position: absolute;
  top: 23%;
  left: 28%;
  width: 355px;
  font-size: 20px;
  line-height: 1.8;
  color: #fff;
  z-index: 5;
}
.curriculum-section .curriculum-section-tip{
  position: absolute;
  top: 61%;
  left: 43%;
  width: 300px;
  height: 62px;
  font-size: 26px;
  text-align: center;
  line-height: 62px;
  color: #fff;
  border-radius: 32px;
  z-index: 10;
}
.curriculum-section .tip-spec{
  position: absolute;
  top: -50px;
  left: 43%;
}
.curriculum-section .offline{
  background-color: #f5cdb2;
}
.curriculum-section .online{
  background-color: #1e9b94;
}
.curriculum-section .bothline{
  background-color: #f08200;
}
.curriculum-section .tip-program{
  background-color: #eca717;
}
.curriculum-section .curriculum-section-order{
  position: absolute;
  top: -9%;
  left: 11%;
  height: 274px;
  z-index: 1;
}
.curriculum-section .curriculum-section-img{
  height: 100%;
}
.curriculum-section .curriculum-section-list{
  position: relative;
}
.curriculum-section .curriculum-section-item{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.curriculum-section .curriculum-section-item .duplo-box{
  display: inline-block;
  margin-right: 5px;
  width: 88px;
  height: 143px;
  line-height: 22px;
  border-radius: 5px;
  background-color: #357dcf;
}
.curriculum-section .curriculum-section-item .duplo-box .duplo-box-img{
  /* margin-top: 49px;
  margin-left: 25px; */
  padding-top: 13px;
  width: 51px;
  height: 41px;
  /* padding-top: 13px; */
}
.curriculum-section .Csi-con{
  position: relative;
  line-height: 400px;
  height: 400px;
}
.curriculum-section .curriculum-section-pic{
  position: absolute;
  top: -147px;
  right: 10px;
  width: 474px;
  height: 467px;
  text-align: center;
  line-height: 595px;
  background-color: #fff;
  z-index: 4;
}
.curriculum-section .curriculum-section-pic .duplo-box-desc{
 /* display: inline-block;
  width: 88px;
  height: 42px; */
 /* margin-top: 20px; */
  font-size: 16px;
  font-style: normal;
  color: #fff;
}
/* 课程体系 end */
/* 媒体报道 start */
.media-section{
  position: relative;
  /* overflow: hidden; */
  margin-top: 95px;
  height: 614px;
}
.media-section .media-section-main{
  padding:100px 0 0 100px;
  margin: 0 auto;
  width: 1100px;
  height: 514px;
  background-color: #fff;
}
.media-section-main .media-tit{
  font-size: 40px;
  line-height: 1.5;
}
.media-section-main .media-tab-con{
  width: 467px;
  margin: 40px 0 0;
}
.media-section-main .media-tab-con .media-list{
  display: none;
  padding-left: 20px;
  font-size: 14px;
}
.media-section-main .media-tab-con .media-list_active{
  display: block;
}
.media-section-main .media-tab-con .media-list>li{
  margin-top: 10px;
  list-style: disc;
  color: #888;
}
.media-section-main .media-tab{
  width: 600px;
  height: 20px;
  margin-top: 34px;
}
.media-section-main .media-tab .tab{
  display: inline-block;
  margin-right: 26px;
  width: 85px;
  height: 20px;
  /* background-color: #000; */
  opacity: .2;
  cursor: pointer;
}
.media-section-main .media-tab .tab_active{
  opacity: 1;
}
.media-section-main .media-tab .tab:after{
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #000;
}
.media-section-main .media-tab .tab_active:after{
  background-color: #357dcf;
}
.media-section .media-section-swiper{
  position: absolute;
  left: 53%;
  bottom: 0;
  overflow: hidden;
  width: 549px;
  height: 682px;
}

.media-section-swiper .swiper-list>li{
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-right: 10px;
  /* 继承不了父级 div 的高度，导致 justify-content: space-between; 失效 */
  height: 682px; 
}
/* 媒体报道 end */
/* 荣誉资质 start */
.honor-section{
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 100px;
  height: 405px;
  /* color: ; */
  /* width: 1200px; */
}
.honor-section .honor-section-list{
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -600px;
  width: 778px;
  height: 405px;
  font-size: 14px;
  background-color: #fff;
}
.honor-section .honor-section-list:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-width: 202.5px 50px 202.5px 50px;
  border-style: solid;
  border-color: #357dcf #fff #fff #357dcf;
}
.honor-section .honor-section-item{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 0 80px;
  width: 618px;
  height: 100%;
  background-color: #fff;
  clip-path: polygon(0 100%,100px 0,100% 0,678px 100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  transition: all .3s;
}
.honor-section .Hsl_active{
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.honor-section .honor-section-pic{
  -webkit-box-flex: 0;
  flex: none;
  width: 318px;
  height: 268px;
  background-color: #eee;
  clip-path: polygon(0 100%,66px 0,100% 0,100% 100%);
}
.honor-section .honor-section-pic .honor-section-img{
  display: block;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}
.honor-section .honor-section-info{
  margin-left: 46px;
  font-size: 19px;
}
.honor-section .honor-section-main{
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: 240px;
  height: 100%;
}
.honor-section .honor-section-main .Hsm-tit{
  font-size: 40px;
  color: #fff;
}
.honor-section .honor-section-main .btn-arrow{
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 0;
}
.honor-section-main .btn-arrow .btn{
  display: inline-block;
  margin-right: 20px;
  width: 50px;
  height: 50px;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  color: #357dcf;
  border-radius: 9999px;
  background-color: #fff;
  cursor: pointer;
}
.honor-section-main .btn-arrow .disabled{
  color: #ccc;
  /* background-color:#197ccc; */
  opacity: .65;
  cursor: not-allowed;
  pointer-events: none;
}
/* 荣誉资质 end */
/* 教研团队 start */
.team-section{
  overflow: hidden;
  margin-top: 100px;
}
.team-section .team-section-info{
  float: left;
  margin-right: 59px;
  width: 399px;
  color: #fff;
}
.team-section .team-section-subtit{
  font-size: 12px;
}
.team-section .team-section-tit{
  margin-top: 15px;
  font-size: 40px;
}
.team-section .team-section-txt{
  margin-top: 26px;
  font-size: 14px;
  line-height: 1.8;
}
.team-section .team-section-pic{
 /* position: absolute;
  right: 0; */
  float: left;
  padding: 70px 10px;
  width: 722px;
  background-color: #fff;
  /* height: 577px; */
}
.team-section .team-section-img{
  width: 100%;
  height: 100%;
}
/* 教研团队 end */
/* 校区 start */
.campus-section{
  margin-top: 100px;
}
#baiduMap{
  width: 750px;
  height: 460px;
}
/* 校区 end */